<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Messenger</title>
    <colorMenu th:insert="blocks/colorMenu :: colorMenu"></colorMenu>
</head>
<body style = "background-color: #1e1d2f">

<div class="row">
    <div class="col-lg-2">
        <blockMenu th:insert="blocks/blockMenu :: blockMenu"></blockMenu>
    </div>

    <div class="col-lg-3" style="background-color: #17212b">
        <div class="headind_srch">
            <div class="srch_bar">
                <div class="stylish-input-group">
                    <h4 style="color:#ffffff" class="text-left"> Recent</h4>
                    <input type="text" class="search-bar" placeholder="Search" >
                    <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span>
                </div>
            </div>
        </div>
        <div class="inbox_chat">
            <div class="chat_list active_chat">
                <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                        <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                        <p>Test, which is a new approach to have all solutions
                            astrology under one roof.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="background-color: #0e1621">
        <div class="mesgs">
            <div class="msg_history">
                <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p>Test which is a new approach to have all
                                solutions</p>
                            <span class="time_date"> 11:01 AM    |    June 9</span></div>
                        </div>
                    </div>
                <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>Test which is a new approach to have all
                            solutions</p>
                        <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                </div>
                <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p>Test, which is a new approach to have</p>
                            <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>