<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>test.web.ContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>ServletPosts</servlet-name>
    <servlet-class>test.web.ServletPosts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPosts</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletProfile</servlet-name>
    <servlet-class>test.web.ServletProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletSettings</servlet-name>
    <servlet-class>test.web.ServletSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSettings</servlet-name>
    <url-pattern>/settings</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>test.web.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletReg</servlet-name>
    <servlet-class>test.web.ServletReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReg</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletLog</servlet-name>
    <servlet-class>test.web.ServletLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLog</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>

</web-app>
